@charset "utf-8";

$color-text: #A6ADB4;
$color-heading: #202124;
$color-gray: #F6F8F9;
$color-accent: #FA6980;

@mixin inner($w:800px) {
    max-width: $w;
    width: 90%;
    margin: 0 auto;
}


@mixin flex($j:space-between) {
    display: flex;
    justify-content: $j;
}



body {
    color: $color-text;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: (24 / 14);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

// BLOCK-------------------

.morenews {
    &__inner {
        @include inner();
    }

    &__list {
        @include flex();
    }
}



.title-main {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EBEDED;
    color: $color-heading;
    font-size: 24px;
    font-weight: bold;
}

.trending {
    background-color: $color-gray;

    &__inner {
        @include inner();
    }

    &__list {
        @include flex();
    }
}

.card {
    &__title {
        font-size: 18px;
        color: $color-heading;
        margin-left: 35px;
        margin-right: 168px;
        margin-top: 27px;
    }

    &__text {
        margin-top: 10px;
        margin-left: 35px;
        margin-right: 35px;
    }

    &__boby {
        background-color: #FFFFFF;
    }

    .btn {
        display: block;
        width: 160px;
        margin-top: 30px;
        margin-bottom: 35px;
        margin-left: 165px;
        margin-right: 35px;
        padding: 10px 0;
        background: $color-accent;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
    }
}